.time {
    font-size: 12px;
}

.exchange-image {
    max-width:100%;
    max-height:100%;
}

.icon {
    font-size: 23px;
    color: #ef4b4b;
    margin-right: 15px;
    outline: none;
}
.exchange-tim {
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
}
.content {
    margin-left: 20px;
    margin-top: 20px;
}
.tags {
    color: #16416c !important;
    font-size: 10px;

}
.border-color {
    border: 1px solid #16416c;
}
.usename-bold {
    font-weight: 500;
}