.doc {
    margin-top: 50px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.doc-tag {
    margin-top: -10px;
}

.doc-tag-item {
    display: flex;
    list-style-type: none;
    margin-right: 10px;
    border-radius: 10px;
    height: 24px;
    background-color: #2ba2a2;
    color: white;
    font-size: 10px;
    align-items: center;
    padding: 5px;
}

.doc-info {
    margin-bottom: 10px;
}

.doc-title {
    margin-left: 10px;
    cursor: pointer;
}

.doc-download {
    margin-left: 10px;
    cursor: pointer;
}